<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <a class="instagramLink" href="https://api.instagram.com/oauth/authorize/?client_id=d75c45e7a8de451cb38ba8c027909c66&redirect_uri=http://<%=host%>/oauth/callback?provider=instagram&response_type=code&scope=public_content">Log Into Instagram</a>
    <form action="/" method="post">
      <input class="hastagSearch"  name="search" type="text" placeholder="Hashtag Search Term"/>
      <input type="submit" value="search"/>
    </form>
    <% var sorted = data.sort(function(a,b){
    return a.created > b.created ? -1 : 1
    }) %>
    <% for(var i = 0; i < sorted.length; i++) {%>
    <div class="postContainer">
      <div class="userProfile">
        <img class="profilePic" src= "<%=sorted[i].profileURL%>"/>
        <h3 class="username"><%=sorted[i].username%></h3>
      </div>
      <img class="postImage" src="<%=sorted[i].imageURL%>"/>
      <p class="postCaption"><%=sorted[i].caption%></p>
      <p class="dateCreated">Date Created: <%=sorted[i].created%></p>
    </div>
      <% } %>
  </body>
</html>
